<table width="100%">
  <tr>
    <td valign="top">
      <h1><%=t(:text_users)%></h1>
      <br/>
      <table class="data sortable" id="users">
        <thead>
          <tr>
            <th class="left"><%=t(:text_login)%></th>
            <th class="left"><%=t(:text_name)%></th>
            <th class="left nosort"><%=t(:text_groups)%></th>
            <th class="left nosort" nowrap><%=t(:text_operations)%></th>
          </tr>
        </thead>
        <tbody >
          <% @users.each do |user|%>
            <% clazz = cycle("even", "odd", :name => 'index_user') %>
            <tr id="user-<%= u user.login -%>">
              <td class="left" valign="top"><%=user.login %></td>
              <td class="left" valign="top"><%=user.name %></td>
              <td class="left" valign="top">
                <%= user.groups.sort.map(&:name).join(', ') %> (<%= link_to "select", {:action => 'select_group', :id => user.id}, :id => "select-#{u user.login}" %>)
              </td>
              <td class="left" valign="top">
                <%= link_to "edit", { :id => user.id, :action => 'edit'}, :id => "edit-#{u user.login}" %> |
                <%= link_to "delete", {:action => 'destroy', :id => user.id}, {:confirm => "Warning : are you sure to delete this user ?", :method => 'delete', :id => "delete-#{u user.login}"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </td>
    <td class="sep"> </td>
    <td valign="top" align="right" width="210">
        <%
        action_name = 'create'
        title='Add new user'
        if @user.id
          action_name = 'update'
          title='Edit user'
        end
         %>
    <% form_for :user, @user, :url => { :id => @user.id, :action => action_name}, :html => { :method => @user.id.nil?? :post : :put } do |f| %>
      <table class="admintable" width="100%">
        <tr>
            <td class="left" valign="top"><h1><%= title %></h1></td>
          </tr>
        <tr>
          <td class="left" valign="top"><%=t(:text_login)%>
            <% if @user.id %>
              <%= @user.login %>
              <%= f.hidden_field :login %>

            <% else %>
              <br/><%= f.text_field :login, :size => 30, :maxLength => 40 %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td class="left" valign="top"><%=t(:text_name)%><br/><%= f.text_field :name, :size => 30, :maxLength => 200 %></td>
        </tr>
        <tr>
          <td class="left" valign="top"><%=t(:text_password)%><br/><%= f.password_field :password, :size => 30, :maxLength => 50 %></td>
        </tr>
        <tr>
          <td class="left" valign="top"><%=t(:text_confirm_password)%><br/><%= f.password_field :password_confirmation, :size => 30, :maxLength => 50 %></td>
          </tr>
        <tr>
          <td class="left"  nowrap="nowrap" valign="top" colspan="2">
            <%= submit_tag @user.id.nil?? 'Create':'Update' %>
            <%= link_to 'cancel', { :controller => 'users', :action => 'index'}, { :class => 'action' } %><br/>
          </td>
        </tr>

      </table>
        <% end %>
    </td>
  </tr>
</table>

<%= link_to "export",
 url_for(:controller => 'api/rules', :action => 'index', :language => @profile.language, :profile => @profile.name,
      :plugins => @plugins.join(','),
      :status => @status, :searchtext => @searchtext, :priorities => @priorities.join(','), :categories => @categories.join(','),
      :format => 'csv'),
 :class => 'action' %>&nbsp;&nbsp;<%=t(:text_export)%>

<%= link_to_remote 'Add Event', {:url => { :controller => 'events', :action => "new", :rid => params['rid'] },
     :update => "event_form"}, {:class => 'action'} %>
